.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Pour couvrir toute la zone avec l'image */
}

.content {
  /* Styles pour le contenu de votre page */
  position: relative; /* Pour que le contenu apparaisse au-dessus de l'image */
  z-index: 1; /* Pour s'assurer que le contenu est au-dessus de l'image de fond */
  padding: 20px;
  color: white; /* Exemple de couleur de texte */
}
@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.animation {
  animation: moveUpDown 3s ease-in-out infinite;
}
.transitionEffect {
  transition: transform 0.3s ease-in-out;
}

.transitionEffect:hover {
  transform: translateY(-5px);
}
